@import './../../common/styles/units.scss';

.TotalList {
    border-bottom: 1px solid rgba(33, 34, 64, 0.16);
    padding: $base_spacing*4 0;

    &__element {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 17px;
    }

    &__price {
        font-size: 16px;
        font-weight: bold;
    }
}