@import './../../common/styles/units.scss';
@import './../../common/styles/colors.scss';

.Discounts {
    border-bottom: 1px solid rgba(33, 34, 64, 0.16);
    padding: $base_spacing*4 0;

    &__title {
        color: $dark-gray;
        letter-spacing: 0;
        font-weight: 300;
        font-size: 12px;
        line-height: $base_spacing*2;
    }

    &__list {
        margin-top: $base_spacing*2;
        list-style: none;

    }

    &__item {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 17px;

        &+li {
            margin-top: $base_spacing*2;
        }
    }

    &__value {
        font-weight: bold;
    }
}