@import './../../common/styles/colors.scss';
@import './../../common/styles/units.scss';

.Summary {
    display: flex;
    flex-flow: column wrap;
    padding: $base_spacing*5 $base_spacing*4;
    width: 312px;
    background-color: $light-gray;
    color: $main-dark;

    &>* {
        width: 100%
    }

    &__total-wrapper {
        align-self: flex-end;
        margin-top: auto;
        padding-top: $base_spacing*2;
        padding-bottom: 0;
        border-top: 1px solid rgba(33, 34, 64, 0.16);
        color: $main-dark;
    }
}