@import '../../common/styles/colors.scss';
@import '../../common/styles/units.scss';

.Button {
    &__count {
        padding: $none $base_spacing;
        height: 40px;
        border: none;
        background: transparent;
        color: $main-blue;
        font-weight: bold;
        cursor: pointer;
    }

    &__submit {
        margin-top: $base_spacing * 3;
        padding-top: $base_spacing * 2;
        padding-bottom: $base_spacing * 2;
        width: 100%;
        border-radius: $unit;
        background: $main-blue;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        line-height: 14px;
        cursor: pointer;
    }
}