@import './../../common/styles/colors.scss';
@import './../../common/styles/units.scss';

.Modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    flex-direction: row;

    &--visible {
        display: flex;
    }

    &--not-visible {
        display: none;
    }

    &__actions {
        position: absolute;
        top: $base_spacing*4;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__close {
        margin-right: $base_spacing*4;
        padding: $unit $base_spacing;
        font-weight: bold;
        background: none;
        font-size: 20px;
        cursor: pointer;
        color: $dark-gray;
    }
}