@import './../../common/styles/colors.scss';
@import './../../common/styles/units.scss';

.ProductDetails {
    &__section {
        display: flex;
        flex: 1;
        padding: 0;
        background-color: $white;
        background-size: cover;
        background-position: center;
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__aside {
        display: flex;
        flex-flow: column wrap;
        padding: $base_spacing*5 $base_spacing*4;
        width: 312px;
        background-color: $white;
        color: $main-dark;
        justify-content: center;
    }

    &__list {}

    &__title {
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $mid-gray;
        padding-bottom: $base_spacing*2;
    }

    &__description {
        margin-top: $base_spacing*2;
        font-size: 14px;
        text-align: justify;
        line-height: 18px;
    }

    &__code {
        margin-top: $base_spacing*5;
        margin-bottom: $base_spacing*2;
        padding-top: $base_spacing;
        border-top: 1px solid $mid-gray;
        color: $mid-gray;
        font-size: 14px;
        line-height: 18px;
    }
}