@import './../../common/styles/units.scss';
@import './../../common/styles/colors.scss';

.ItemsList {
    &__head {
        padding: $base_spacing*4 0;
    }

    &__headings {
        color: $regular-gray;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 10px;
        line-height: 16px;
    }

    &__content {
        position: relative;
        width: 100%;
    }

    &__row {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        &+.ItemsList__row {
            margin-top: $base_spacing*4;
        }
    }
}

.Cell {
    display: flex;
    align-items: center;

    &:nth-child(n + 2) {
        justify-content: center;
    }
}

.Heading {
    &__product {
        width: 45%;
    }

    &__quantity {
        width: 20%;
    }

    &__price {
        width: 20%;
    }

    &__total {
        width: 15%;
    }
}

.Product {
    &__col {
        width: 45%;
    }

    &__figure {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
    }

    &__image {
        margin-right: 16px;
        width: 72px;
        height: 72px;
        border: 1px solid $gray;
        border-radius: $unit;
        cursor: pointer;
    }

    &__title {
        color: $main-blue;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }

    &__code {
        border-radius: 4px;
        color: $gray;
        letter-spacing: 0.13px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
}

.Quantity {
    &__col {
        width: 20%;
    }
}

.Price {
    &__col {
        width: 20%;
    }

    &__value {
        color: $black;
        font-size: 16px;
    }

    &__currency {
        margin-left: $unit;
    }
}

.Total {
    &__col {
        width: 15%;
    }
}