@import './common/styles/global.scss';
@import './common/styles/colors.scss';
@import './common/styles/units.scss';

.App {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 1088px;
  max-height: 648px;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  border-radius: $unit;
  background-color: $white;
  transform: translate(-50%, -50%);
}